@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Oswald:wght@200..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

* {
    padding: 0;
    margin: 0;
    font-family: 'Inter', sans-serif;
    list-style: none;
}

body {
    height: 3000px;
}

header {
    background-color: #fff;
    width: 100%;
    position: fixed;
    z-index: 1;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding: 1rem 6rem;
}

.logo {
    display: flex;
    align-items: center;
    max-width: 230px;
}


.nav-list {
    display: flex;
    align-items: center;
}

.nav-list ul {
    display: flex;
    justify-content: center;
    
}

.nav-item {
    margin: 0 30px;
}

.nav-link {
    text-decoration: none;
    font-size: 1.15rem;
    color: #000000;
    font-weight: 500;
}

.login-button button {
    border: 1px solid #e9500e;
    padding: 10px 15px;
    border-radius: 5px;
    background-color: #e9500e;
    cursor: pointer;
}

.login-button button a {
    text-decoration: none;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.mobile-menu-icon {
    display: none;
}

.login-button:hover {
    opacity: 0.8;
}

.mobile-menu {
    display: none;
}

/* HOME */
.home {
    min-height: 100vh;
    background-image: url('/assets/img/img-home.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.texto-home {
    justify-content: center;
    text-align: left;
    padding-top: 150px;
    color: #fff;
    width: 50%;
    margin-left: 15%;
}

.texto-home h1 {
    font-size: 140px;
    width: 80%;
    font-weight: 700;
    font-family: 'Oswald', sans-serif;
    line-height: 1.2;
    margin-bottom: 40px;
}

.texto-home span {
    color: #FF8800;
}

.texto-home h2 {
    font-size: 1.5rem;
    font-weight: 500;
}

.texto-home button {
    padding: 18px 38px;
    margin: 40px auto;
    border: 1px solid #fff;
    background-color: transparent;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    cursor: pointer;
    transition: 0.25s ease;
}

.texto-home button:hover {
    background-color: #FF8800;
    border-color: #FF8800;

}

.texto-home button:focus {
    background-color: #FF8800;
    border-color: #FF8800;

}


/* SOBRE */
.sobre {
    height: 100vh;
    margin-left: 15%;
    padding: 10rem 0px;
}

.container-sobre {
    display: flex;
}

.titulo-sobre {
    flex: 1;
    font-family: 'Oswald', sans-serif;
}

.imagens-sobre {
    position: relative;
    flex: 1;
}

.imagens-sobre img {
    position: absolute;
}

.imagens-sobre .trabalhador {
    box-shadow: 1px 2px 78px 10px rgba(30, 144, 210, 0.93);
    -webkit-box-shadow: 1px 2px 78px 10px rgba(30, 144, 210, 0.93);
    -moz-box-shadow: 1px 2px 78px 10px rgba(30, 144, 210, 0.93);
}

.imagens-sobre .sol {
    margin-left: 100px;
    z-index: -1;
    padding-top: 220px;
}

.texto-sobre-img {
    position: absolute;
    margin-top: 540px;
    margin-left: 220px;
}

.texto-sobre-img img {
    width: 288px;
    height: 142px;
}

.titulo-sobre .titulo {
    color: #FF8800;
    font-size: 30px;
    margin-bottom: 10px;
}

.titulo-sobre .sub-titulo {
    color: #0B2E42;
    font-size: 45px;
    width: 458px;
    line-height: 1.2;
    font-weight: 700;
    margin-bottom: 35px;
}

.titulo-sobre .texto {
    color: #3d3d3d;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.7;
    margin-bottom: 35px;
    font-weight: 500;
    max-width: 580px;

}


.lista li {
    list-style-type: none;
    color: #3d3d3d;
    font-size: 17px;
    font-family: 'Rubik', sans-serif;
    display: flex;
    gap: 15px;
    margin: 20px auto;
    align-items: center;
}

.itens i {
    font-size: 30px;
}

.lista {
    width: 580px;
    margin-bottom: 40px;
    margin-left: 0;
}

.btn {
    padding: 18px 38px;
    margin-top: 40px;
    border: 1px solid #FF8800;
    background-color: transparent;
    letter-spacing: 1px;
    font-size: 18px;
    font-weight: 700;
    color: #FF8800;
    text-decoration: none;
    cursor: pointer;
    transition: 0.25s ease;
    ;
}

.btn:hover {
    background-color: #FF8800;
    border-color: #FF8800;
    color: #fff;

}

.btn:focus {
    background-color: #FF8800;
    border-color: #FF8800;
    color: #fff;
}

/* SERVICOS */

.servicos {
    height: 100vh;
}
.servicos .texto-titulo {
    padding-top: 100px;
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

.titulo-servicos {
    color: #FF8800;
    font-size: 30px;
    margin-bottom: 10px;
}

.sub-titulo-servicos {
    color: #0B2E42;
    font-size: 45px;
    margin-bottom: 20px;
}

.texto-servicos {
    color: #3d3d3d;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    margin: 0px 109px 50px;
}

.servicos-lista {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 12%;
}

.servicos-card{
    background-color: #fff;
    padding: 30px;
    border: 20px solid #f2f2f2b9;
    transition: 0.25s ease;
}


.servicos-card:hover {
    border-color: #FF8800;
}

.servicos-card:focus-within {
    border-color: #FF8800;
}

.card-icon {
    margin-bottom: 30px;

}

.card-icon img {
    width: auto;
    height: 60px;
}

.num-servicos {
    color: #FF8800;
    font-size: 40px;
    font-family: 'Oswald', sans-serif;
}

.servicos-card h3 {
    color: #0B2E42;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}

.card-texto {
    margin: 10px 0px 20px 0px;
    color: #3d3d3d;
    font-size: 16px;
    font-family: 'Rubik', sans-serif;
    line-height: 1.6;
}

.btn-link {
    width: auto;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #FF8800;
    font-size: 18px;
    font-family: 'Rubik',sans-serif;
    gap: 5px;
}
.btn-link i {
    font-size: 30px;
}












@media screen and (max-width: 730px) {
    .nav-bar {
        padding: 1.5rem 4rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu-icon button {
        background-color: transparent;
        border: none;
        cursor: pointer;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1.2rem;
    }

    .mobile-menu .login-button {
        display: block;
        padding: 1rem 2rem;
    }

    .mobile-menu .login-button button {
        width: 100%;
    }

    .open {
        display: block;
    }
}